@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333;
    background: #fff;
}
.wrapper header.header .top-header {
    width: 100%;
    background: #000;
}
.wrapper header.header .top-header nav.navbar {
    height: 62px;
    line-height: 62px;
    margin: 0;
    padding: 0;
}
.wrapper header.header .top-header nav.navbar ul.nav-bả a.navbar-brand {
    margin: 0;
    padding: 0;
}
.wrapper header.header .top-header nav.navbar ul.nav-bả a.navbar-brand img {
    max-width: 90%;
}
.wrapper header.header .top-header nav.navbar .collapse {
    height: 62px;
    line-height: 62px;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item {
    height: 62px;
    line-height: 62px;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item .form-search-top input[type="text"] {
    max-height: 32px;
    width: 390px;
    border-radius: 10px;
    padding: 7px;
    border: none;
    text-indent: 10px;
    font-size: 13px;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    height: 62px;
    line-height: 62px;
    color: #fff;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.cart {
    font-size: 24px;
    margin-top: -7px;
    margin-left: 12px;
    position: relative;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.cart .point-cart {
    position: absolute;
    font-size: 14px;
    background: #e11b1e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 18px;
    right: -10px;
    line-height: 0;
    display: flex;
    margin: auto;
}
.wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.cart .point-cart span {
    position: absolute;
    top: 10px;
    right: 6px;
}
.wrapper header.header .top-header nav.navbar .button-search {
    display: none;
}
.wrapper .nav-header {
    height: 62px;
    line-height: 62px;
    background: #f7f7f7;
}
.wrapper .nav-header .row {
    width: 100%;
}
.wrapper .nav-header nav.navbar {
    margin: 0;
    padding: 0;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item {
    position: relative;
    padding: 0 10px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item:last-child {
    border-right: none;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 10px;
    top: 60px;
    border-radius: 0px;
    border: none;
    min-width: 170px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-once {
    line-height: 20px;
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    color: #1a1a1a;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    min-width: 80px;
    text-align: center;
    font-weight: 400;
    padding: 5px 10px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-once:hover .icon img {
    background: #fff;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-once:hover {
    background: #000;
    color: #fff;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-once .icon img {
    max-width: 32px;
    max-height: 32px;
    background: transparent;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent:before {
    position: absolute;
    content: "";
    top: -20px;
    width: 50%;
    height: 20px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative {
    position: relative;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link {
    font-size: 13px;
    line-height: 26px;
    color: #333;
    transition: 0.3s;
    padding: 8px 0;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link span.icon-left {
    visibility: hidden;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link span.icon-right {
    margin-left: 5px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link:hover {
    color: #e11b1e;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link:hover span.icon-left {
    visibility: visible;
    margin-right: 5px;
}
.wrapper .nav-header nav.navbar ul.navbar-nav li.nav-item ul.submenu-level1-childrent li.ps-relative a.nav-link:hover span.icon-right {
    visibility: hidden;
}
.wrapper footer.footer .footer-center {
    background: #252525;
    color: #8c8c8c;
    padding: 25px 0;
}
.wrapper footer.footer .footer-center .logo-footer {
    text-align: center;
}
.wrapper footer.footer .footer-center h4 {
    font-size: 15px;
    margin: 10px 0;
    font-weight: bold;
    position: relative;
    color: #fff;
}
.wrapper footer.footer .footer-center p span {
    color: #c5c5c5;
}
.wrapper footer.footer .footer-center ul li.nav-item a.nav-link {
    color: #8c8c8c;
    padding: 5px 0;
}
.wrapper footer.footer .footer-center ul li.nav-item a.nav-link.line-thought {
    text-decoration: line-through;
}
.wrapper footer.footer .footer-center ul.list-mxh li.nav-item {
    display: inline-block;
    margin-top: -5px;
}
.wrapper footer.footer .footer-center ul.list-mxh li.nav-item a.nav-link {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: #333;
    background: #fff;
    box-shadow: 0 3px 5px #616161;
    line-height: 23px;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
    transition: transform 300ms;
    font-size: 20px;
    text-align: center;
}
.wrapper footer.footer .footer-bottom .footer-copyright {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #8c8c8c;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: #252525;
}
.wrapper footer.footer .footer-bottom .footer-copyright span {
    color: #fac93b;
    cursor: pointer;
}
.search-mobile {
    display: none;
}
@media (max-width: 767px) {
    .wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item .form-search-top input[type="text"] {
        display: none;
    }
    .wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item img.img-hotline {
        display: none;
    }
    .wrapper header.header .top-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.cart {
        background: lavender;
        width: 50px;
    }
}

